<!DOCTYPE html>
<html lang="en">
        
<!-- Header -->
    <%- include('../../partials/header.ejs') -%>
<!--End of Header -->

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- #Sidebar# -->
        <%- include('../../partials/sidebar.ejs') -%>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- #Main Content# -->
            <div id="content">
                
                <!-- #Navbar# -->
                <%- include('../../partials/navbar.ejs') -%> 
                
                <div class="container-fluid">
                    <% if(alert.message != ""){ %> 
                        <div class="alert alert-<%= alert.status %>" role="alert">
                            <%= alert.message %>
                        </div>
                    <% } %>

                    <% if(action == 'ViewItem') {%>
                    <div class="card shadow mb-4">
                       
                        <div class="card-body">
                            
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#show-item" role="tab" >Show Item</a>
                                </li>   
                                <li class="nav-item">
                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#add-item" role="tab" aria-selected="false">Add Item</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="myTabContent">
                                <%- include('tables_item.ejs') -%>
                                <%- include('add_item.ejs') -%>
                            </div>
                            <%  } else if(action == 'ShowImage'){ %>
                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#show-item" role="tab" aria-selected="true">Show Item</a>
                                    </li>
                                </ul> 
                                <div class="tab-content" id="myTabContent">
                                    <!-- <div class="tab-pane fade show active" id="show-image" role="tabpanel" > -->
                                        <%- include('show_image.ejs') -%>
                                <!-- </div>                                / -->
                            </div>
                            <%  } else{ %>
                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#edit-item" role="tab" aria-selected="true">Edit Item</a>
                                    </li>
                                </ul> 
                                <div class="tab-content" id="myTabContent">
                                    <!-- <div class="tab-pane fade show active" id="show-image" role="tabpanel" > -->
                                        <%- include('edit_item.ejs') -%>
                                <!-- </div>                                / -->
                            </div>
                            <% } %>
                    </div>

                </div>
                <!-- /.container-fluid -->

                <!-- #Footer#-->
                <%- include('../../partials/footer.ejs') -%>
            </div>
            <!-- End of Main Content -->


        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

     <!-- #JS partials#-->
    <%- include('../../partials/js.ejs') -%>

</body>
<script>
    CKEDITOR.replace( 'about' );
//     function sConsole(event) {
//   event.preventDefault();
//   var images = document.getElementById("imageId");
//   console.log(images.value);
// }
</script>
</html>